main {
    padding: 50px 20px 80px 20px;
}

#capitulos {
    display: grid;
    height: 100%;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    padding: 20px;
}

.capitulos-at .capitulo {
    background-color: #8B4513;
}

.capitulos-nt .capitulo {
    background-color: #4B0082;
}

.capitulo {
    cursor: pointer;
    height: 100px;
}

.capitulo a {
    align-items: center;
    border-radius: 2px;
    color: #FFF;
    display: flex;
    height: 100%;
    justify-content: center;
    text-decoration: none;
}

@media (min-width: 768px) {
    #capitulos {
        grid-template-columns: repeat(4, 1fr);
    }

    .capitulo {
        height: 80px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    #capitulos {
        grid-template-columns: repeat(2, 1fr);
    }

    .capitulo {
        height: 60px;
        font-size: 14px;
        padding: 6px;
    }
}