.contenedor-testamento {
    padding: 50px 20px 80px 20px;
}

.contenedor-libros {
    display: grid;
    height: 100%;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    padding: 20px;
}

.contenedor-libros .libro {
    align-items: center;
    border-radius: 2px;
    color: #FFF;
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 10px;
}

#libros-at .libro {
    background-color: #8B4513;
}

#libros-nt .libro {
    background-color: #4B0082;
}

.contenedor-libros .libro a {
    color: #FFF;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 768px) {
    .contenedor-libros {
        grid-template-columns: repeat(4, 1fr);
    }

    .contenedor-libros .libro {
        height: 80px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .contenedor-libros {
        grid-template-columns: repeat(2, 1fr);
    }

    .contenedor-libros .libro {
        height: 60px;
        font-size: 14px;
        padding: 6px;
    }
}